.upgrades {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 1rem;
}

.upgrade {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.level {
  font-size: 1.75rem;
  margin-bottom: 5px;
}

.upgrade > button {
  height: 125px;
  width: 175px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  text-shadow: 0px 0px 5px black;
}

.upgrade > button:hover {
  box-shadow: 0px 0px 20px white;
}