main {
  height: 100vh;
  width: 100vw;
  background: rgb(255,188,252);
  background: radial-gradient(circle, rgba(255,188,252,1) 0%, rgba(0,1,62,1) 75%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}